openapi: "3.1.0"
info:
  title: AgentShell API
  description: |
    AgentShell .NET 网关的 REST API 契约。

    **安全模型**: 除明确声明匿名的端点外，所有端点需要 Bearer JWT 认证。
    **信任边界**: 本 API 只传输信令 JSON，不传输终端数据、代码内容或 SSH 密钥。
  version: "1.0.0"
  contact:
    name: AgentShell Project

servers:
  - url: https://api.agentshell.dev/v1
    description: 生产环境

security:
  - bearerAuth: []

paths:
  /hosts/registration-token:
    post:
      summary: 创建一次性主机注册令牌
      description: 已认证用户创建仅用于主机公钥登记的一次性令牌，令牌有效期为 10 分钟。
      operationId: createRegistrationToken
      responses:
        "200":
          description: 一次性注册令牌已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRegistrationTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /hosts/register-key:
    post:
      summary: 登记主机公钥
      description: 使用未过期且未使用的一次性注册令牌登记主机 Ed25519 公钥。
      operationId: registerHostKey
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterHostKeyRequest"
      responses:
        "200":
          description: 主机公钥已登记
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterHostKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /sessions/report:
    post:
      summary: 守护进程上报 Agent 状态
      description: 守护进程定期调用此端点更新 Agent 会话状态
      operationId: reportAgentState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/events/agent-state.json"
      responses:
        "200":
          description: 上报成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                  server_timestamp:
                    type: string
                    format: date-time
                  upgrade_required:
                    type: boolean
                    description: daemon 版本过低，需要更新
                  latest_version:
                    type: string
                    description: 最新 daemon 版本号
                  latest_sha256:
                    type: string
                    description: 最新二进制 SHA256
        "401":
          description: 未认证
        "429":
          description: 上报过于频繁

  /sessions/{session_id}/status:
    get:
      summary: 查询会话状态
      description: 查询指定会话的当前 Agent 状态。Phase 2 实装。
      x-implementation-status: stub
      operationId: getSessionStatus
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 会话当前状态
          content:
            application/json:
              schema:
                $ref: "../schemas/events/agent-state.json"
        "404":
          description: 会话不存在

  /sessions/lifecycle:
    post:
      summary: 守护进程上报会话生命周期事件
      operationId: reportSessionLifecycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/events/session-lifecycle.json"
      responses:
        "200":
          description: 上报成功

  /devices/bind:
    post:
      summary: 发起设备绑定
      description: App 扫码后调用此端点发起设备绑定流程
      x-implementation-status: stub  # Phase 2 实装，当前返回占位数据
      operationId: initiateBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["binding_code", "device_id"]
              properties:
                binding_code:
                  type: string
                  description: 6 位临时绑定码
                device_id:
                  type: string
                  description: 设备标识
                device_name:
                  type: string
                  description: 设备名称（如「Pixel 9 Pro」）
      responses:
        "200":
          description: 返回挑战 nonce
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_id:
                    type: string
                    format: uuid
                  nonce:
                    type: string
                    description: 32 字节 base64 编码的随机会话 nonce
                  host_public_key:
                    type: string
                    description: daemon 的公钥
                  expires_at:
                    type: string
                    format: date-time
        "400":
          description: 绑定码无效或已过期

  /devices/bind/verify:
    post:
      summary: 验证设备绑定
      description: App 通过 SSH 执行 bind-verify 得到签名后调用此端点
      x-implementation-status: stub  # Phase 2 实装，Ed25519 验签未实装
      operationId: verifyBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["challenge_id", "signature"]
              properties:
                challenge_id:
                  type: string
                  format: uuid
                signature:
                  type: string
                  description: Ed25519 对 "<binding_code>:<nonce>" 的 base64 签名
      responses:
        "200":
          description: 绑定成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  bound:
                    type: boolean
                  host_id:
                    type: string
                    description: 绑定的主机 ID
        "403":
          description: 签名验证失败

  /hosts/sync:
    post:
      summary: 主机配置同步
      description: App 加密上传主机配置到服务端（服务端不接触明文凭据）
      operationId: syncHosts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/host-sync.json#/definitions/SyncRequest"
      responses:
        "200":
          description: 同步结果
          content:
            application/json:
              schema:
                $ref: "../schemas/host-sync.json#/definitions/SyncResponse"

components:
  schemas:
    CreateRegistrationTokenResponse:
      type: object
      required: ["registration_token", "expires_at"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        expires_at:
          type: string
          format: date-time
          description: 注册令牌过期时间（创建后 10 分钟）
    RegisterHostKeyRequest:
      type: object
      required: ["registration_token", "host_id", "public_key"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        host_id:
          type: string
          format: uuid
        public_key:
          type: string
          format: byte
          description: 32 字节 Ed25519 公钥的 Base64 编码
    RegisterHostKeyResponse:
      type: object
      required: ["host_id", "registered"]
      properties:
        host_id:
          type: string
          format: uuid
        registered:
          type: boolean
    ErrorResponse:
      type: object
      required: ["error", "code"]
      properties:
        error:
          type: string
          description: 面向调用方的错误说明
        code:
          type: string
          description: 主机注册流程的稳定、可判别错误码
          enum:
            - registration_token_invalid
            - registration_token_expired
            - registration_token_consumed
            - host_key_conflict
            - host_key_invalid
            - unauthorized
            - rate_limited
  responses:
    BadRequest:
      description: 请求无效；`code` 为 `registration_token_invalid` 或 `host_key_invalid`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 未认证或认证无效；`code` 为 `unauthorized`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: 注册令牌已使用或主机密钥已登记；`code` 为 `registration_token_consumed` 或 `host_key_conflict`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Gone:
      description: 注册令牌已过期；`code` 为 `registration_token_expired`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: 请求过于频繁；`code` 为 `rate_limited`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
