openapi: "3.1.0"
info:
  title: AgentShell API
  description: |
    AgentShell .NET 网关的 REST API 契约。

    **安全模型**: 除明确声明匿名的端点外，所有端点需要 Bearer JWT 认证。
    **信任边界**: 本 API 只传输信令 JSON，不传输终端数据、代码内容或 SSH 密钥。
  version: "1.0.0"
  contact:
    name: AgentShell Project
  license:
    name: Apache-2.0
    identifier: Apache-2.0

servers:
  - url: https://agentshell.servicelab.cn/api
    description: 生产环境

security:
  - bearerAuth: []

paths:
  /auth/device:
    post:
      summary: 获取 App 设备访问令牌
      operationId: authenticateDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceAuthRequest"
      responses:
        "200":
          description: 设备令牌已签发
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthResponse"
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/renew:
    post:
      summary: 续期 daemon 访问令牌
      operationId: renewDaemonToken
      responses:
        "200":
          description: 续期成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/refresh:
    post:
      summary: 轮换 App 设备访问令牌
      operationId: refreshDeviceToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: 访问令牌和 Refresh Token 已轮换
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthResponse"
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/revoke:
    post:
      summary: 撤销 App 设备 Refresh Token
      operationId: revokeDeviceToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "204":
          description: 撤销完成（幂等）
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /hosts/registration-token:
    post:
      summary: 创建一次性主机注册令牌
      description: 已认证用户创建仅用于主机公钥登记的一次性令牌，令牌有效期为 10 分钟。
      operationId: createRegistrationToken
      responses:
        "200":
          description: 一次性注册令牌已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRegistrationTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /hosts/register-key:
    post:
      summary: 登记主机公钥
      description: 使用未过期且未使用的一次性注册令牌登记主机 Ed25519 公钥。
      operationId: registerHostKey
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterHostKeyRequest"
      responses:
        "200":
          description: 主机公钥已登记
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterHostKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /sessions/report:
    post:
      summary: 守护进程上报 Agent 状态
      description: 守护进程定期调用此端点更新 Agent 会话状态
      operationId: reportAgentState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportEnvelope"
      responses:
        "200":
          description: 上报成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportAcceptedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /sessions:
    get:
      summary: 查询指定主机的当前会话快照
      operationId: getSessionSnapshot
      parameters:
        - name: host_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: 返回最近状态的最大会话数，服务端限制在 1--200。
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          required: false
          description: 上一页返回的 opaque 游标；按状态时间和 session_id keyset 翻页。
          schema:
            type: string
      responses:
        "200":
          description: 会话状态快照
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionSnapshotResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "402":
          $ref: "#/components/responses/ProblemPaymentRequired"
        "503":
          $ref: "#/components/responses/ProblemFeatureDisabled"

  /sessions/lifecycle:
    post:
      summary: 守护进程上报会话生命周期事件
      operationId: reportSessionLifecycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportEnvelope"
      responses:
        "200":
          description: 上报成功
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /devices/bind:
    post:
      summary: 发起设备绑定
      description: App 扫码后调用此端点发起设备绑定流程
      operationId: initiateBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindInitiateRequest"
      responses:
        "200":
          description: 返回挑战 nonce
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BindInitiateResponse"
        "400":
          $ref: "#/components/responses/ProblemBadRequest"

  /devices/bind/verify:
    post:
      summary: 验证设备绑定
      description: App 通过 SSH 执行 bind-verify 得到签名后调用此端点
      operationId: verifyBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindConfirmRequest"
      responses:
        "200":
          description: 绑定成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BindConfirmResponse"
        "403":
          description: 签名验证失败
        "400":
          $ref: "#/components/responses/ProblemBadRequest"

  /devices/push-token:
    put:
      summary: 登记或轮换设备推送令牌
      description: 仅保存厂商令牌及版本元数据；不得回显令牌，也不传输终端或凭据数据。
      operationId: registerPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushTokenRegistrationRequest"
      responses:
        "204":
          description: 登记成功，无响应体。
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      summary: 注销设备推送令牌
      description: 清除服务端投递地址并关闭该设备通知；幂等且无响应体。
      operationId: unregisterPushToken
      responses:
        "204":
          description: 已注销或原本未登记，无响应体。
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /notifications/events:
    post:
      summary: 上报通知行动事件
      description: 设备仅上报 clicked 事件；服务端只保存通知元数据，不保存通知内容。
      operationId: reportNotificationEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationEventRequest"
      responses:
        "204":
          description: 已接受或重复事件
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  schemas:
    DeviceAuthRequest:
      type: object
      additionalProperties: false
      required: ["device_id", "region"]
      properties:
        device_id:
          type: string
          format: uuid
        device_name:
          type: string
          maxLength: 128
        region:
          type: string
          enum: ["global", "china"]
    DeviceAuthResponse:
      type: object
      additionalProperties: false
      required: ["access_token", "expires_at", "refresh_token", "refresh_expires_at", "token_type"]
      properties:
        access_token:
          type: string
        expires_at:
          type: string
          format: date-time
        refresh_token:
          type: string
          minLength: 43
        refresh_expires_at:
          type: string
          format: date-time
        token_type:
          type: string
          enum: ["Bearer"]
    RefreshTokenRequest:
      type: object
      additionalProperties: false
      required: ["refresh_token"]
      properties:
        refresh_token:
          type: string
          minLength: 43
    NotificationEventRequest:
      type: object
      additionalProperties: false
      required: ["notification_id", "event_type", "occurred_at"]
      properties:
        notification_id:
          type: string
          format: uuid
        event_type:
          type: string
          enum: [clicked]
        occurred_at:
          type: string
          format: date-time
    BindInitiateRequest:
      type: object
      additionalProperties: false
      required: ["binding_code"]
      properties:
        binding_code:
          type: string
          pattern: "^[0-9]{6}$"
    BindInitiateResponse:
      type: object
      additionalProperties: false
      required: ["challenge_id", "nonce", "ttl_seconds"]
      properties:
        challenge_id:
          type: string
        nonce:
          type: string
        ttl_seconds:
          type: integer
          minimum: 1
    BindConfirmRequest:
      type: object
      additionalProperties: false
      required: ["challenge_id", "binding_code", "host_id", "signature", "public_key"]
      properties:
        challenge_id:
          type: string
        binding_code:
          type: string
          pattern: "^[0-9]{6}$"
        host_id:
          type: string
          format: uuid
        signature:
          type: string
        public_key:
          type: string
          format: byte
    BindConfirmResponse:
      type: object
      additionalProperties: false
      required: ["bound", "host_id", "access_token", "token_type", "expires_in"]
      properties:
        bound:
          type: boolean
        host_id:
          type: string
          format: uuid
        access_token:
          type: string
        token_type:
          type: string
          enum: ["Bearer"]
        expires_in:
          type: integer
          minimum: 1
    PushTokenRegistrationRequest:
      type: object
      additionalProperties: false
      required: ["provider", "token", "app_version", "protocol_version"]
      properties:
        provider:
          type: string
          enum: ["fcm", "jpush"]
        token:
          type: string
          minLength: 1
          maxLength: 4096
        app_version:
          type: string
          minLength: 1
          maxLength: 64
        protocol_version:
          type: string
          pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$"
    RenewResponse:
      type: object
      additionalProperties: false
      required: ["access_token", "token_type", "expires_in"]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: ["Bearer"]
        expires_in:
          type: integer
          minimum: 1
    ReportEnvelope:
      type: object
      additionalProperties: false
      required: ["protocol_version", "host_id", "timestamp", "nonce", "capabilities", "payload_type", "payload_base64", "payload_sha256", "signature"]
      properties:
        protocol_version:
          type: string
          pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$"
        host_id:
          type: string
          format: uuid
        timestamp:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\\.[0-9]{3}Z$"
        nonce:
          type: string
        capabilities:
          type: array
          items:
            type: string
            enum: ["agent_state", "session_lifecycle"]
          minItems: 1
          uniqueItems: true
        payload_type:
          type: string
          enum: ["agent_state", "session_lifecycle"]
        payload_base64:
          type: string
        payload_sha256:
          type: string
          pattern: "^[a-f0-9]{64}$"
        signature:
          type: string
    ReportAcceptedResponse:
      type: object
      additionalProperties: false
      required: ["accepted", "server_timestamp"]
      properties:
        accepted:
          type: boolean
        server_timestamp:
          type: string
          format: date-time
    SessionSnapshotItem:
      type: object
      additionalProperties: false
      required: ["session_id", "state", "agent_type", "timestamp", "daemon_version"]
      properties:
        session_id:
          type: string
        state:
          $ref: "../schemas/common.json#/definitions/agent_state"
        agent_type:
          $ref: "../schemas/common.json#/definitions/agent_type"
        previous_state:
          $ref: "../schemas/common.json#/definitions/agent_state"
        timestamp:
          type: string
          format: date-time
        daemon_version:
          type: string
    SessionSnapshotResponse:
      type: object
      additionalProperties: false
      required: ["sessions", "next_cursor", "server_timestamp", "realtime_enabled", "feature_enabled", "protocol_min", "protocol_max"]
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionSnapshotItem"
        next_cursor:
          type: [string, "null"]
          description: 还有下一页时返回的 opaque 游标。
        server_timestamp:
          type: string
          format: date-time
        realtime_enabled:
          type: boolean
        feature_enabled:
          type: boolean
        protocol_min:
          type: string
        protocol_max:
          type: string
    CreateRegistrationTokenResponse:
      type: object
      required: ["registration_token", "expires_at"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        expires_at:
          type: string
          format: date-time
          description: 注册令牌过期时间（创建后 10 分钟）
    RegisterHostKeyRequest:
      type: object
      additionalProperties: false
      required: ["registration_token", "host_id", "public_key"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        host_id:
          type: string
          format: uuid
        public_key:
          type: string
          format: byte
          minLength: 44
          maxLength: 44
          pattern: "^[A-Za-z0-9+/]{43}=$"
          description: 32 字节 Ed25519 公钥的 Base64 编码
    RegisterHostKeyResponse:
      type: object
      required: ["host_id", "registered"]
      properties:
        host_id:
          type: string
          format: uuid
        registered:
          type: boolean
    ErrorResponse:
      type: object
      required: ["error", "code"]
      properties:
        error:
          type: string
          description: 面向调用方的错误说明
        code:
          type: string
          description: 主机注册流程的稳定、可判别错误码
          enum:
            - registration_token_invalid
            - registration_token_expired
            - registration_token_consumed
            - host_key_conflict
            - host_key_invalid
            - unauthorized
            - rate_limited
            - host_forbidden
            - host_not_found
            - protocol_too_old
            - protocol_too_new
            - feature_disabled
            - replay_detected
            - signature_invalid
    ProblemDetails:
      type: object
      description: 未预期服务端错误的 RFC 7807 响应；不包含堆栈或敏感配置。
      required: ["type", "title", "status", "detail"]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        traceId:
          type: string
        code:
          type: string
  responses:
    ProblemBadRequest:
      description: 请求无效；返回 RFC 7807 ProblemDetails。
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ProblemPaymentRequired:
      description: 云端控制面暂不可用；客户端可以退化到 SSH 直连。
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ProblemFeatureDisabled:
      description: 当前功能开关已关闭；客户端可以退化到 SSH 直连。
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    BadRequest:
      description: 请求无效；`code` 为 `registration_token_invalid` 或 `host_key_invalid`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 未认证或认证无效；`code` 为 `unauthorized`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: 主机所有权、签名或 daemon 身份验证失败。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: 请求的主机不存在。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: 注册令牌已使用或主机密钥已登记；`code` 为 `registration_token_consumed` 或 `host_key_conflict`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Gone:
      description: 注册令牌已过期；`code` 为 `registration_token_expired`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: 请求过于频繁；`code` 为 `rate_limited`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UpgradeRequired:
      description: Protocol 版本不在服务端支持窗口内。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: 服务端未预期错误；客户端可使用 traceId 联系运维。
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
