openapi: "3.1.0"
info:
  title: AgentShell API
  description: |
    AgentShell .NET 网关的 REST API 契约。

    **安全模型**: 除明确声明匿名的端点外，所有端点需要 Bearer JWT 认证。
    **信任边界**: 本 API 只传输信令 JSON，不传输终端数据、代码内容或 SSH 密钥。
  version: "1.0.0"
  contact:
    name: AgentShell Project

servers:
  - url: https://api.agentshell.dev/v1
    description: 生产环境

security:
  - bearerAuth: []

paths:
  /auth/device:
    post:
      summary: 获取 App 设备访问令牌
      operationId: authenticateDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceAuthRequest"
      responses:
        "200":
          description: 设备令牌已签发
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/renew:
    post:
      summary: 续期 daemon 访问令牌
      operationId: renewDaemonToken
      responses:
        "200":
          description: 续期成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /hosts/registration-token:
    post:
      summary: 创建一次性主机注册令牌
      description: 已认证用户创建仅用于主机公钥登记的一次性令牌，令牌有效期为 10 分钟。
      operationId: createRegistrationToken
      responses:
        "200":
          description: 一次性注册令牌已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRegistrationTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /hosts/register-key:
    post:
      summary: 登记主机公钥
      description: 使用未过期且未使用的一次性注册令牌登记主机 Ed25519 公钥。
      operationId: registerHostKey
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterHostKeyRequest"
      responses:
        "200":
          description: 主机公钥已登记
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterHostKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /sessions/report:
    post:
      summary: 守护进程上报 Agent 状态
      description: 守护进程定期调用此端点更新 Agent 会话状态
      operationId: reportAgentState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportEnvelope"
      responses:
        "200":
          description: 上报成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportAcceptedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /sessions:
    get:
      summary: 查询指定主机的当前会话快照
      operationId: getSessionSnapshot
      parameters:
        - name: host_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 会话状态快照
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionSnapshotResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "503":
          $ref: "#/components/responses/FeatureDisabled"

  /sessions/lifecycle:
    post:
      summary: 守护进程上报会话生命周期事件
      operationId: reportSessionLifecycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportEnvelope"
      responses:
        "200":
          description: 上报成功
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /devices/bind:
    post:
      summary: 发起设备绑定
      description: App 扫码后调用此端点发起设备绑定流程
      x-implementation-status: stub  # Phase 2 实装，当前返回占位数据
      operationId: initiateBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["binding_code", "device_id"]
              properties:
                binding_code:
                  type: string
                  description: 6 位临时绑定码
                device_id:
                  type: string
                  description: 设备标识
                device_name:
                  type: string
                  description: 设备名称（如「Pixel 9 Pro」）
      responses:
        "200":
          description: 返回挑战 nonce
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_id:
                    type: string
                    format: uuid
                  nonce:
                    type: string
                    description: 32 字节 base64 编码的随机会话 nonce
                  host_public_key:
                    type: string
                    description: daemon 的公钥
                  expires_at:
                    type: string
                    format: date-time
        "400":
          description: 绑定码无效或已过期

  /devices/bind/verify:
    post:
      summary: 验证设备绑定
      description: App 通过 SSH 执行 bind-verify 得到签名后调用此端点
      x-implementation-status: stub  # Phase 2 实装，Ed25519 验签未实装
      operationId: verifyBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["challenge_id", "signature"]
              properties:
                challenge_id:
                  type: string
                  format: uuid
                signature:
                  type: string
                  description: Ed25519 对 "<binding_code>:<nonce>" 的 base64 签名
      responses:
        "200":
          description: 绑定成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  bound:
                    type: boolean
                  host_id:
                    type: string
                    description: 绑定的主机 ID
        "403":
          description: 签名验证失败

components:
  schemas:
    DeviceAuthRequest:
      type: object
      additionalProperties: false
      required: ["device_id"]
      properties:
        device_id:
          type: string
          format: uuid
        device_name:
          type: string
          maxLength: 128
    DeviceAuthResponse:
      type: object
      additionalProperties: false
      required: ["access_token", "expires_at", "token_type"]
      properties:
        access_token:
          type: string
        expires_at:
          type: string
          format: date-time
        token_type:
          type: string
          enum: ["Bearer"]
    RenewResponse:
      type: object
      additionalProperties: false
      required: ["access_token", "token_type", "expires_in"]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: ["Bearer"]
        expires_in:
          type: integer
          minimum: 1
    ReportEnvelope:
      type: object
      additionalProperties: false
      required: ["protocol_version", "host_id", "timestamp", "nonce", "capabilities", "payload_type", "payload_base64", "payload_sha256", "signature"]
      properties:
        protocol_version:
          type: string
          pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$"
        host_id:
          type: string
          format: uuid
        timestamp:
          type: string
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\\.[0-9]{3}Z$"
        nonce:
          type: string
        capabilities:
          type: array
          items:
            type: string
            enum: ["agent_state", "session_lifecycle"]
          minItems: 1
          uniqueItems: true
        payload_type:
          type: string
          enum: ["agent_state", "session_lifecycle"]
        payload_base64:
          type: string
        payload_sha256:
          type: string
          pattern: "^[a-f0-9]{64}$"
        signature:
          type: string
    ReportAcceptedResponse:
      type: object
      additionalProperties: false
      required: ["accepted", "server_timestamp"]
      properties:
        accepted:
          type: boolean
        server_timestamp:
          type: string
          format: date-time
    SessionSnapshotItem:
      type: object
      additionalProperties: false
      required: ["session_id", "state", "agent_type", "timestamp", "daemon_version"]
      properties:
        session_id:
          type: string
        state:
          $ref: "../schemas/common.json#/definitions/agent_state"
        agent_type:
          $ref: "../schemas/common.json#/definitions/agent_type"
        previous_state:
          $ref: "../schemas/common.json#/definitions/agent_state"
        timestamp:
          type: string
          format: date-time
        daemon_version:
          type: string
    SessionSnapshotResponse:
      type: object
      additionalProperties: false
      required: ["sessions", "server_timestamp", "realtime_enabled", "feature_enabled", "protocol_min", "protocol_max"]
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionSnapshotItem"
        server_timestamp:
          type: string
          format: date-time
        realtime_enabled:
          type: boolean
        feature_enabled:
          type: boolean
        protocol_min:
          type: string
        protocol_max:
          type: string
    CreateRegistrationTokenResponse:
      type: object
      required: ["registration_token", "expires_at"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        expires_at:
          type: string
          format: date-time
          description: 注册令牌过期时间（创建后 10 分钟）
    RegisterHostKeyRequest:
      type: object
      additionalProperties: false
      required: ["registration_token", "host_id", "public_key"]
      properties:
        registration_token:
          type: string
          description: 仅可使用一次的注册令牌
        host_id:
          type: string
          format: uuid
        public_key:
          type: string
          format: byte
          minLength: 44
          maxLength: 44
          pattern: "^[A-Za-z0-9+/]{43}=$"
          description: 32 字节 Ed25519 公钥的 Base64 编码
    RegisterHostKeyResponse:
      type: object
      required: ["host_id", "registered"]
      properties:
        host_id:
          type: string
          format: uuid
        registered:
          type: boolean
    ErrorResponse:
      type: object
      required: ["error", "code"]
      properties:
        error:
          type: string
          description: 面向调用方的错误说明
        code:
          type: string
          description: 主机注册流程的稳定、可判别错误码
          enum:
            - registration_token_invalid
            - registration_token_expired
            - registration_token_consumed
            - host_key_conflict
            - host_key_invalid
            - unauthorized
            - rate_limited
            - host_forbidden
            - host_not_found
            - protocol_too_old
            - protocol_too_new
            - feature_disabled
            - replay_detected
            - signature_invalid
  responses:
    BadRequest:
      description: 请求无效；`code` 为 `registration_token_invalid` 或 `host_key_invalid`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 未认证或认证无效；`code` 为 `unauthorized`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: 主机所有权、签名或 daemon 身份验证失败。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: 请求的主机不存在。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: 注册令牌已使用或主机密钥已登记；`code` 为 `registration_token_consumed` 或 `host_key_conflict`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Gone:
      description: 注册令牌已过期；`code` 为 `registration_token_expired`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: 请求过于频繁；`code` 为 `rate_limited`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UpgradeRequired:
      description: Protocol 版本不在服务端支持窗口内。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    FeatureDisabled:
      description: 当前 P2 功能开关已关闭；SSH 终端仍可直接使用。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
